## SPDX-License-Identifier: GPL-2.0-only

if BOARD_RSODIUM_WIDGET

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select NORTHBRIDGE_INTEL_SANDYBRIDGE
	select SOUTHBRIDGE_INTEL_C216
	select CPU_INTEL_MODEL_206AX
	select USE_NATIVE_RAMINIT
	select HAVE_ACPI_TABLES
	select HAVE_ACPI_RESUME
	select BOARD_ROMSIZE_KB_8192
	select MAINBOARD_HAS_LIBGFXINIT
	select INTEL_GMA_HAVE_VBT
	select MAINBOARD_USES_IFD_GBE_REGION
	select HAVE_OPTION_TABLE

config MAINBOARD_DIR
	default "RSODIUM/widget"

config MAINBOARD_PART_NUMBER
	default "IC847-PLUS"

endif
